<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css"></link>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>
                    Welcome to <%=title%>
                </h1>
            </div>
            <div class="row">
                <h4>Sign In</h4>
            </div>
            <div class="row">
                <!-- <ul class="nav">
                    <%for(var i=0; i<nav.length; i++) {%>
                        <li class="nav-item">
                            <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>
                        </li>
                    <%}%>
                </ul> -->                
                <form id="signIn" name="signInForm" action="/auth/signin" method="POST">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username"/><br/>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password"/><br/>   
                    <!-- <input type="submit" class="button" value="Sign Up"/>  -->
                    <button class="btn btn-dark">Sign In</button>
                </form>
            </div>
        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>